
html {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  --bg-color: #{theme-color('background', 'base')};
  --font-color: #{theme-color()};
  --font-color-secondary: #{theme-color('secondary', 'base')};
  --btn-bg-color: #{theme-color('accent', 'base')};
  --btn-bg-color-state: #{theme-color('accent', 'base-state')};
  &.transition,
  &.transition *, 
  &.transition *:before,
  &.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
}

html[data-theme='dark'] {
  --bg-color: #{theme-color('background', 'dark')};
  --font-color: #{theme-color('primary', 'dark')};
  --font-color-secondary: #{theme-color('secondary', 'dark')};
  --btn-bg-color: #{theme-color('accent', 'dark')};
  --btn-bg-color-state: #{theme-color('accent', 'dark-state')};
  &.transition,
  &.transition *, 
  &.transition *:before,
  &.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
}

h1 {
  font-weight: 300;
  font-size: $font-size-x-large;
}

h4 {
  font-weight: 300;
  font-size: $font-size-small;
}

body {
  background-color: var(--bg-color);
}

button {
  background-color: var(--btn-bg-color);
  color: var(--font-color);
  &:hover {
    background-color: var(--btn-bg-color-state);
  }
}
